.ImageModal--modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 70vw;
  height: auto;
  max-width: 1280px;
  max-height: 720px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1001;
}

.ImageModal--modalImage {
  flex: 1;
  width: 100%;
  height: auto;
  max-width: 1280px;
  max-height: 720px;
  border-radius: 5px;
  animation: fadeIn 0.4s;
  user-select: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.ImageModal--shade {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  animation: fadeIn 0.4s;
  user-select: none;
  cursor: pointer;
}

.ImageModal--closeModal {
  position: fixed;
  width: calc(10px + 2vmax);
  height: calc(10px + 2vmax);
  right: 20px;
  top: 20px;
  z-index: 1001;
  animation: fadeIn 0.4s;
  cursor: pointer;
  user-select: none;
}

.ImageModal--arrow {
  position: absolute;
  width: calc(10px + 2vmax);
  height: calc(10px + 2vmax);
  bottom: 50%;
  animation: fadeIn 0.4s;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  padding: 10px 0;
}

.ImageModal--prevImage {
  right: 90%;
  padding-left: 0;
}

.ImageModal--nextImage {
  left: 90%;
  padding-right: 0;
}

.ImageModal--thumbnails {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
}

.ImageModal--thumbnails--image {
  width: auto;
  height: auto;
  max-height: 3vmax;
  margin: 0 5px;
  border: 3px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s;
  transition: transform 0.25s;
  cursor: pointer;
  border-radius: 2%;
}

.ImageModal--thumbnails--currentImage {
  border: 3px solid white;
  transform: scale(1.05);
}

.ImageModal--thumbnails--image:hover {
  transform: scale(1.05);
}

.ImageModal--thumbnails--image:active {
  transform: scale(1);
}

.ImageModal--close {
  animation: fadeOut 0.4s;
}

.ImageModal--hide {
  display: none;
}

.ImageModal--hideCursor {
  cursor: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@media (min-width: 425px) {
  .ImageModal--thumbnails--image {
    max-height: 3.5vmax;
  }

  .ImageModal--arrow {
    width: calc(10px + 3vmax);
    height: calc(10px + 3vmax);
  }

  .ImageModal--prevImage {
    right: 90%;
    padding-left: -5px;
  }

  .ImageModal--nextImage {
    left: 90%;
    padding-right: -5px;
  }
}

@media (min-width: 500px) {
  .ImageModal--thumbnails--image {
    max-height: 4vmax;
  }

  .ImageModal--prevImage {
    padding-left: 2px;
    right: 91%;
  }

  .ImageModal--nextImage {
    left: 91%;
    padding-right: 2px;
  }
}

@media (min-width: 600px) {
  .ImageModal--thumbnails--image {
    max-height: 4.5vmax;
  }

  .ImageModal--prevImage {
    right: 92%;
    padding-left: 7px;
  }

  .ImageModal--nextImage {
    left: 92%;
    padding-right: 7px;
  }
}

@media (min-width: 768px) {
  .ImageModal--thumbnails--image {
    max-height: 5vmax;
  }

  .ImageModal--arrow {
    width: calc(10px + 5vmax);
    height: calc(10px + 5vmax);
  }

  .ImageModal--prevImage {
    right: 91%;
    padding-left: 3px;
  }

  .ImageModal--nextImage {
    left: 91%;
    padding-right: 3px;
  }
}

@media (min-width: 1024px) {
  .ImageModal--arrow {
    width: calc(10px + 5vmax);
    height: calc(10px + 5vmax);
  }

  .ImageModal--prevImage {
    right: 92%;
    padding-left: 1px;
  }

  .ImageModal--nextImage {
    left: 92%;
    padding-right: 1px;
  }
}

@media (min-width: 1920px) {
  .ImageModal--closeModal {
    width: 48px;
    height: 48px;
  }
  .ImageModal--arrow {
    width: 106px;
    height: 106px;
  }

  .ImageModal--thumbnails--image {
    height: 96px;
  }
}
